@import url(./components/buttons.css);
@import url(./components/tabs.css);
@import url(./components/cards.css);
@import url(./components/banner.css);

:root {
  background-color: #FEF3EC;
  --primary-blue-color: #2FAFC8;
  --secondary-orange-color: #FCC7A8;
  --blue-font-color: #3E416D;
  --gray-font-color: #AEADB4;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 0px 100px;
}

main {
  padding: 40px 100px;
  display: flex;
  justify-content: space-between;
}


/* max-width */

@media (max-width: 920px) {
  aside {
    display: none;
  }
}

