:root {
  background-color: #FEF3EC;
  --primary-blue-color: #2FAFC8;
  --secondary-orange-color: #FCC7A8;
  --blue-font-color: #3E416D;
  --gray-font-color: #AEADB4;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 0px 100px;
}

.tabs {
  display: flex;
}

.tabs h3:first-child {
  margin: 0;
  border-bottom: 2px solid var(--primary-blue-color);
  margin-right: 24px;
  padding-bottom: 8px;
}

.tabs h3:last-child {
  margin: 0;
  color: var(--gray-font-color);
}

.btn-blue {
  background-color: var(--primary-blue-color);
  text-decoration: none;
  color: white;
  padding: 8px 16px;
  border-radius: 16px;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.btn-blue:hover {
  background-color: #228497;
}

.container {
  padding: 40px 100px;
}

.card {
  width: 500px;
  height: 70px;
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0 0 10px rgba(0,0,0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.card-line {
  height: 80px;
  width: 3px;
  background-color: var(--gray-font-color);
}

.card-status {
  background-color: var(--secondary-orange-color);
  display: inline-block;
  padding: 8px 16px;
  border-radius: 16px;
}

.card-status p {
  margin: 0;
}