.btn-blue {
  background-color: var(--primary-blue-color);
  text-decoration: none;
  color: white;
  padding: 8px 16px;
  border-radius: 16px;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.btn-blue:hover {
  background-color: #228497;
}

.btn-white {
  background-color: white;
  text-decoration: none;
  color: black;
  padding: 16px 32px;
  border-radius: 8px;
  display: inline-block;
}